<!DOCTYPE html>
<html>
<head>
    <title>Add Document</title>
</head>
<body>

<h1>Add Document</h1>

<form method="POST">

    <label>Company ID</label><br>
    <input type="number" name="company_id" required><br><br>

    <label>Document Name</label><br>
    <input type="text" name="document_name" required><br><br>

    <label>Issue Date</label><br>
    <input type="date" name="issue_date"><br><br>

    <label>Expiry Date</label><br>
    <input type="date" name="expiry_date"><br><br>

    <label>Reminder Days Before Expiry</label><br>
    <input type="number" name="reminder_days" value="30"><br><br>

    <button type="submit">
        Save Document
    </button>

</form>

</body>
</html>